body{
    border: 1px solid aqua;
    margin: 20px;
    padding-left:  30px;
    padding-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.poempurple{
    color: purple;
    
}
.poemblue{
    color: royalblue;
    
}
.poembody{
    padding-left: 40px;
}
.poemred{
    color: red;
}

.midja{
    text-align: center
    }

.green{
    color: green;
}